body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: linear-gradient(135deg, #1b5e20, #4caf50);
  color: white;
}

#lista li {
  list-style: none;
  
}

#lista input {
  border-radius: 6px;
  border: 1px solid #c8e6c9;
  background-color: #f1f8f4;
}

input {
  padding: 8px;
  margin: 5px 0;
}

button{
  display: inline-block;
  background: white;
  color: #0d0e0d;
  padding: 8px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 5px 0;
}

.grupos {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .grupos {
    flex-direction: column;
  }
}
